<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="responsive.css" />
    <title>ToDo-List</title>
  </head>
  <body>
    <div class="container">
      <h1>Program of your activity</h1>
      <form class="inputBx" id="todoForm">
        <input
          class="input"
          type="text"
          placeholder="Write your activity..."
          id="input"
        />
        <button class="submit" type="submit" id="submit">+</button>
      </form>
      <ul id="list">
        <% todos.forEach(todo => { %>
        <li>
          <%= todo.title %> - <%= todo.completed ? 'Ended' : 'In progress' %>
        </li>
        <% }) %>
      </ul>
      <span id="shomarande"></span>
    </div>
    <script src="script.js"></script>
    <script></script>
  </body>
</html>
