@media (max-width: 1080px) {
    .container{
        max-width: 85%;
        margin: 80px auto;
        margin-bottom: 0;
        border-radius: 10px;
        padding: 20px 35px;
    }
    .container:hover{
        max-width: 87%;
    }
    h1{
        font-size: 50px;
        margin: 15px 0;
    }
    .input{
        height: 75px;
        font-size: 25px;
        border: 2px solid gray;
        border-right: 0px;
        border-radius: 10px 0px 0px 10px;
    }
    .input:hover{
        font-size: 30px;
    }
    .submit{
        width: 75px;
        height: 75px;
        font-size: 25px;
        border-radius: 0px 10px 10px 0px;
    }
    li{
        padding-left: 90px;
        height: 70px;
        font-size: 25px;
        padding-top: 18px;
        border-radius: 10px;
    }
    li i{
        width: 70px;
        height: 70px;
        right: -70px;
    }
    li i::after{
        width: 35px;
        height: 5px;
    }
    li i::before{
        width: 35px;
        height: 5px;
    }
    li.done{
        padding-left: 90px;
    }
    li::before{
        width: 70px;
        height: 70px;
        left: 0;
    }
    li.done::after{
        top: 21px;
        left: 17px;
        width: 35px;
        height: 15px;
        border-bottom: 4px solid green;
        border-left: 4px solid green;
    }
}