*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 0.5s;
}
body{
    text-align: center;
    background: linear-gradient(to bottom left, #0070d3, #000);
    height: 100vh;
}
.container{
    background: #fff;
    width: 100%;
    max-width: 500px;
    margin: 80px auto;
    margin-bottom: 0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px #000;
}
.container:hover{
    box-shadow: 0 5px 7px #000;
    max-width: 520px;
}
.inputBx{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.input{
    width: 100%;
    padding: 15px;
    height: 50px;
    border-radius: 5px 0px 0px 5px;
    border: 0.5px solid gray;
    border-right: 0px;
    outline: none;
}
.input:focus{
    box-shadow: 0 2px 5px #0005;
    border: 0.5px solid #0070d3;
    font-size: 17px;
}
.inputBx:focus .submit{
    box-shadow: 0 2px 5px #0005;
}
.submit{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #0070d3;
    color: #fff;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}
.submit:hover{
    background: #003b6e;
}
ul{
    padding: 0px 2px;
    padding-left: 3px;
    list-style-type: none;
    overflow-y: scroll;
    max-height: 350px;
    margin-top: 20px;
}
li{
    background: #e6f3ff;
    height: 40px;
    width: 100%;
    position: relative;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    transition: 0.5s;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
}
li::before{
    content: '';
    position: absolute;
    left: -40px;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: #000;
    transition: 0.5s;
}
li i{
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    transition: 0.5s;
}
li:hover{
    box-shadow: 0 2px 5px #0005;
    padding-left: 50px;
}
li:hover i{
    right: 0;
}
li:hover::before{
    left: 0;
}
li i::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}
li i::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
}
li.done{
    text-decoration: line-through;
    padding-left: 50px;
}
li.done::before{
    left: 0;
}
li.done::after{
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    width: 12px;
    height: 6px;
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    transform: rotate(315deg);
}
::-webkit-scrollbar{
    width: 3px;
    margin-left: 2px;
}
::-webkit-scrollbar-track{
    margin-left: 2px;
    background: linear-gradient(to bottom, #0070d3, #003768);
}
::-webkit-scrollbar-thumb{
    background: #fff;
}